<div class="centered-content">
    <div class="modal-box">
        <p>
            <!-- <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample">
              Toggle
            </button> -->
            <button type="button" class="btn btn-outline-primary" >Toggle</button>

           
            
          </p>

       <div class="list-menu"> 
            <a class="list-menu-item" *ngFor="let booking of bookings"  routerLinkActive="is-active"> 
                <p>{{ booking.name }}</p>
            </a>
        </div>

          <!-- <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card">
              <div class="card-body">
                You can collapse this card by clicking Toggle
              </div>
            </div>
          </div> -->
          
  </div>