<header>

<!-- <div ngIf="Admin">
  <p>sdfsfsdf</p>
</div> -->
<div class="container">
  <nav id="main-nav" class="flex items-center justify-between">
      <div class="left flex items-center">
          <div class="branding">
          </div>
          <div>
              <a href="#">Breast Cancer</a>
              <a href="#about">Breast Awareness</a>
              <a href="#services">About Us</a>
              <a href="#work">Book an Appointment</a>
          </div>
      </div>
      <div class="right">
          <button class="btn btn-primary">log out</button>
      </div>
  </nav>
  <div class="hero flex items-center justify-between">
    <img src="/src/images/badge1.png" alt="">
      <div class="left flex-1 flex justify-center">
      </div>
      <div class="right flex-1">
          <h1>Breast Cancer  <span>Charity</span></h1>
      </div>
  </div>
</div>
</header>
<section id="about" class="about">
  <div class="container flex items-center">
      <div class="flex-1">
          <img class="about-me-img" src="/src/images/BreastCancer-Banner.jpg" alt="">
      </div>
      <div class="flex-1">
          <h1>About <span>Charity</span></h1>
          <h3>Hello! I'm Kayla Jolly</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Feugiat vivamus at augue eget arcu. Sit amet venenatis urna cursus eget nunc. 
              Volutpat maecenas volutpat blandit aliquam etiam erat.</p>            
      </div>
  </div>
</section>
<section class="bookanappointment">
  <h1>Book an Appointment</h1>
  <p>Book your free consultation with us today</p>
  <!-- <button class="btn btn-primary" (click)="openBookingModel(bookingModel)">Book Now</button> -->
  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
</section>


<section class="contact">
  <div class="container">
      <h1 class="section-heading">Contact <span>Us</span></h1>
    
      <form action="">
          
      <div class="input-wrap">
          <input #name type="text" placeholder="Your Name *">
          <input #email type="email" placeholder="Your Email *">
      </div>
      <div class="input-wrap-2">
          <input #subject type="text" placeholder="Your Subject...">
          <textarea #message name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
      </div>
      <div class="btn-wrapper">
        <button class="btn btn-primary" type='button' (click)="addBookings(name.value, email.value, subject.value, message.value)">Send message</button>
          <hr>
      </div>
    
      </form>

  </div>
</section>

<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active"> 
                    <p>{{ list.title }}</p>
                </a>

            </div>

            <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>

        </div>
        <div class="task-list-container has-background-light">
          <div *ngIf="role == 'Admin'">
            <h1>Admin - Dashboard</h1>
          </div>
          <div *ngIf="role == 'Moderator'">
            <h1>Moderator - Dashboard</h1>
          </div>
        </div>

        <div class="task-list-container has-background-light">
            <div *ngIf="tasks"> 
                <div class="top-bar">
                    <h1 class="title has-text-primary">
                        Tasks
                        </h1>
                        <div class="dropdown is-hoverable is-right">
                            <div class="dropdown-trigger">
                              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                <span class="icon is-small">
                                  <i class="fas fa-cog" aria-hidden="true"></i>
                                </span>
                              </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                              <div class="dropdown-content">
                                      <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                                        Edit
                                      </a>
                                      <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                                        Delete
                                      </a>
                                    </div>
                              </div>
                            </div>
                          </div>         

            <!-- Task Elements-->
            <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
                <div class="task-text">
                    <p>{{ task.title }}</p>
                 </div>
                 <div class="task-buttons">

                    <button class="button"[routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
                        <div class="icon">
                            <i class="fas fa-edit"></i>
                        </div>
                    </button>

                     <button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
                         <div class="icon">
                             <i class="fas fa-trash"></i>
                         </div>
                     </button>
                 </div>
                </div>

                 <button routerLink="./new-task"  class="circle-add-button button is-primary">
                 <img src="../../../assets/plus-icon.svg" class="has-text-white">
                 </button>
             </div>

             <h3 class="empty-state-text" *ngIf="tasks === undefined || tasks.length === 0">There are no tasks here! Click the add button to create a new task</h3>

             <div *ngIf="!tasks">
                <h3 class="empty-state-text">Please select a list from the sidebar</h3>
             </div>

        </div>

    </div>


    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <!-- <div class="input-group">
              <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </ng-template>



    

