<header>
<div class="container">
  <nav id="main-nav" class="flex items-center justify-between">
      <div class="left flex items-center">
          <div class="branding">
          </div>
          <div>
              <a routerLink="/">Breast Cancer</a>
              <a *ngIf="role == 'Admin'" routerLink="/dashboard">Admin Dashboard</a>

          </div>
      </div>
      <div class="right">
          <button class="btn btn-primary">log out</button>
      </div>
  </nav>
  <div class="hero flex items-center justify-between">
    <img src="" alt="">
      <div class="left flex-1 flex justify-center">
      </div>
      <div class="right flex-1">
          <h1>Breast Cancer  <span>Charity</span></h1>
      </div>
  </div>
</div>
</header>
<section id="about" class="about">
  <div class="container flex items-center">
      <div class="flex-1">
          <img class="about-me-img" src="" alt="">
      </div>
      <div class="flex-1">
          <h1>About <span>Charity</span></h1>
          <h3>Welcome!</h3>
          <p>According to the World Health Organization, breast cancer is the most common cancer among women worldwide, <br>
            claiming the lives of hundreds of thousands of women each year and affecting countries at all levels of modernization.</p>            
      </div>
  </div>
</section>
<section class="bookanappointment">
        <h1>Breast Cancer Information</h1>
        <p>In 2020, an estimated 276,480 new cases of invasive breast cancer will be diagnosed in women in the U.S. as well as 48,530 new cases of non-invasive (in situ) breast cancer.
          64% of breast cancer cases are diagnosed at a localized stage (there is no sign that the cancer has spread outside of the breast), for which the 5-year survival rate is 99%.
          This year, an estimated 42,170 women will die from breast cancer in the U.S.
          Although rare, men get breast cancer too. In 2020, an estimated 2,620 men will be diagnosed with breast cancer this year in the U.S. and approximately 520 will die.
          1 in 8 women in the United States will be diagnosed with breast cancer in her lifetime
          Breast cancer is the most common cancer in American women, except for skin cancers. It is estimated that in 2020, approximately 30% of all new women cancer diagnoses will be breast cancer.
          There are over 3.5 million breast cancer survivors in the United States.
          On average, every 2 minutes a woman is diagnosed with breast cancer in the United States.</p>
</section>


<section class="contact">
  <div class="container">
      <h1 class="section-heading">Book an <span>Appointment</span></h1>
      <h2> Please fill out the form to book a free Breast Cancer check up with us</h2>
    
      <form action="">
          
      <div class="input-wrap">
          <input #name type="text" placeholder="Your Name *">
          <input #email type="email" placeholder="Your Email *">
      </div>
      <div class="input-wrap-2">
          <input #subject type="text" placeholder="Your Subject...">
          <textarea #message name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
      </div>
      <div class="btn-wrapper">
        <button class="btn btn-primary" type='button' (click)="addBookings(name.value, email.value, subject.value, message.value)">Send message</button>
          <hr>
      </div>
    
      </form>

  </div>
</section>

<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active"> 
                    <p>{{ list.title }}</p>
                </a>

            </div>

            <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>

        </div>
        <div class="task-list-container has-background-light">

        </div>

        <div class="task-list-container has-background-light">
            <div *ngIf="tasks"> 
                <div class="top-bar">
                    <h1 class="title has-text-primary">
                        Tasks
                        </h1>
                        <div class="dropdown is-hoverable is-right">
                            <div class="dropdown-trigger">
                              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                <span class="icon is-small">
                                  <i class="fas fa-cog" aria-hidden="true"></i>
                                </span>
                              </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                              <div class="dropdown-content">
                                      <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                                        Edit
                                      </a>
                                      <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                                        Delete
                                      </a>
                                    </div>
                              </div>
                            </div>
                          </div>         

            <!-- Task Elements-->
            <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
                <div class="task-text">
                    <p>{{ task.title }}</p>
                 </div>
                 <div class="task-buttons">

                    <button class="button"[routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
                        <div class="icon">
                            <i class="fas fa-edit"></i>
                        </div>
                    </button>

                     <button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
                         <div class="icon">
                             <i class="fas fa-trash"></i>
                         </div>
                     </button>
                 </div>
                </div>

                 <button routerLink="./new-task"  class="circle-add-button button is-primary">
                 <img src="../../../assets/plus-icon.svg" class="has-text-white">
                 </button>
             </div>

             <h3 class="empty-state-text" *ngIf="tasks === undefined || tasks.length === 0">There are no tasks here! Click the add button to create a new task</h3>

             <div *ngIf="!tasks">
                <h3 class="empty-state-text">Please select a list from the sidebar</h3>
             </div>

        </div>

    </div>




    

